# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with ip, user and password provided. Take a look on the data. Do some joins in order to have more ellaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook)

In [33]:
# Your code here:
from sqlalchemy import create_engine

driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'sakila'

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'

engine = create_engine(connection_string)

query = 'SHOW TABLES'
sakila_df = pd.read_sql(query, engine)

sakila_df

query2 = """
SELECT * FROM actor 
LEFT JOIN film_actor 
ON actor.actor_id = film_actor.actor_id
"""

sakila_join = pd.read_sql(query2, engine)

sakila_join

,actor_id,first_name,last_name,last_update,actor_id,film_id,last_update
0,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,1,2006-02-15 05:05:03
1,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,23,2006-02-15 05:05:03
2,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,25,2006-02-15 05:05:03
3,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,106,2006-02-15 05:05:03
4,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,140,2006-02-15 05:05:03
5,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,166,2006-02-15 05:05:03
6,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,277,2006-02-15 05:05:03
7,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,361,2006-02-15 05:05:03
8,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,438,2006-02-15 05:05:03
9,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,499,2006-02-15 05:05:03
10,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,506,2006-02-15 05:05:03
11,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,509,2006-02-15 05:05:03
12,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,605,2006-02-15 05:05:03
13,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,635,2006-02-15 05:05:03
14,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,749,2006-02-15 05:05:03
15,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,832,2006-02-15 05:05:03
16,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,939,2006-02-15 05:05:03
17,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,970,2006-02-15 05:05:03
18,1,PENELOPE,GUINESS,2006-02-15 04:34:33,1,980,2006-02-15 05:05:03
19,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,3,2006-02-15 05:05:03
20,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,31,2006-02-15 05:05:03
21,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,47,2006-02-15 05:05:03
22,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,105,2006-02-15 05:05:03
23,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,132,2006-02-15 05:05:03
24,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,145,2006-02-15 05:05:03
25,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,226,2006-02-15 05:05:03
26,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,249,2006-02-15 05:05:03
27,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,314,2006-02-15 05:05:03
28,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,321,2006-02-15 05:05:03
29,2,NICK,WAHLBERG,2006-02-15 04:34:33,2,357,2006-02-15 05:05:03
...,...,...,...,...,...,...,...
5432,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,432,2006-02-15 05:05:03
5433,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,541,2006-02-15 05:05:03
5434,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,604,2006-02-15 05:05:03
5435,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,640,2006-02-15 05:05:03
5436,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,689,2006-02-15 05:05:03
5437,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,730,2006-02-15 05:05:03
5438,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,784,2006-02-15 05:05:03
5439,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,785,2006-02-15 05:05:03
5440,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,886,2006-02-15 05:05:03
5441,199,JULIA,FAWCETT,2006-02-15 04:34:33,199,953,2006-02-15 05:05:03
5442,200,THORA,TEMPLE,2006-02-15 04:34:33,200,5,2006-02-15 05:05:03
5443,200,THORA,TEMPLE,2006-02-15 04:34:33,200,49,2006-02-15 05:05:03
5444,200,THORA,TEMPLE,2006-02-15 04:34:33,200,80,2006-02-15 05:05:03
5445,200,THORA,TEMPLE,2006-02-15 04:34:33,200,116,2006-02-15 05:05:03
5446,200,THORA,TEMPLE,2006-02-15 04:34:33,200,121,2006-02-15 05:05:03
5447,200,THORA,TEMPLE,2006-02-15 04:34:33,200,149,2006-02-15 05:05:03
5448,200,THORA,TEMPLE,2006-02-15 04:34:33,200,346,2006-02-15 05:05:03
5449,200,THORA,TEMPLE,2006-02-15 04:34:33,200,419,2006-02-15 05:05:03
5450,200,THORA,TEMPLE,2006-02-15 04:34:33,200,462,2006-02-15 05:05:03
5451,200,THORA,TEMPLE,2006-02-15 04:34:33,200,465,2006-02-15 05:05:03
5452,200,THORA,TEMPLE,2006-02-15 04:34:33,200,474,2006-02-15 05:05:03
5453,200,THORA,TEMPLE,2006-02-15 04:34:33,200,537,2006-02-15 05:05:03
5454,200,THORA,TEMPLE,2006-02-15 04:34:33,200,538,2006-02-15 05:05:03
5455,200,THORA,TEMPLE,2006-02-15 04:34:33,200,544,2006-02-15 05:05:03
5456,200,THORA,TEMPLE,2006-02-15 04:34:33,200,714,2006-02-15 05:05:03
5457,200,THORA,TEMPLE,2006-02-15 04:34:33,200,879,2006-02-15 05:05:03
5458,200,THORA,TEMPLE,2006-02-15 04:34:33,200,912,2006-02-15 05:05:03
5459,200,THORA,TEMPLE,2006-02-15 04:34:33,200,945,2006-02-15 05:05:03
5460,200,THORA,TEMPLE,2006-02-15 04:34:33,200,958,2006-02-15 05:05:03
5461,200,THORA,TEMPLE,2006-02-15 04:34:33,200,993,2006-02-15 05:05:03

# Challenge 2 - Working with JSON files

Import the pandas library

In [2]:
# Your import here:

import pandas as pd

In the next cell, load the data in `json_data` and load it into a pandas dataframe. Name the dataframe `nasa`.

In [3]:
# Your code here:
nasa = pd.read_json('nasa.json')

Now that we have loaded the data, let's examine it using the `head()` function.

In [4]:
# Your code here:
nasa.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [5]:
# Your code here:
nasa["fall"].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Since we downloaded the file from an online source, the goal of saving the dataframe is to have a local copy. Save the dataframe using the `orient=records` argument and name the file `nasa.json`.

In [30]:
# Your code here:
nasa.to_json("nasa.json", orient="records")

# Challenge 2 - Working with CSV and Other Separated Files

csv files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a csv file into a dataframe directly from a URL without having to load the file first like we did with the JSON URL. The dataset we will be using contains informtaions about NASA shuttles. 

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [9]:
# Run this code:

cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [11]:
# Your code here:
shuttle = pd.read_csv(tst_url, names = cols, sep=" ")
shuttle

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1
41,0,84,3,38,-4,43,45,2,1
37,0,100,0,36,-8,63,64,2,1
46,0,83,0,46,0,37,36,0,1
44,0,79,0,42,-17,35,37,2,1
44,-1,78,0,44,0,34,34,0,1
55,0,81,0,54,-10,25,26,2,1
56,0,95,0,52,-3,40,44,4,4
37,0,100,0,34,6,64,67,4,1
43,-3,86,2,44,14,43,42,0,1
46,-5,84,0,46,0,38,37,0,1
45,0,81,0,44,0,36,37,0,1
48,0,86,0,50,30,38,37,0,1
56,0,78,0,42,-2,22,37,14,4
56,0,77,0,18,-18,22,59,38,4
45,5,90,0,44,0,44,46,2,1
37,0,77,0,-20,27,41,98,58,1
37,0,90,-6,18,0,53,72,20,1
37,-8,77,0,20,0,40,57,16,1
50,5,95,-3,50,0,45,46,2,1
43,-2,76,0,44,15,32,32,0,1
42,-1,85,-5,42,0,44,44,0,1
55,0,97,0,46,-2,42,51,8,4
37,0,76,0,26,20,39,50,12,1
37,0,76,8,30,0,40,45,6,1
45,0,106,0,46,9,61,60,0,1
...,...,...,...,...,...,...,...,...,...
55,0,97,0,42,0,41,55,14,4
44,0,84,-3,44,0,40,40,0,1
46,-1,85,-4,46,-14,39,39,0,1
45,0,77,0,44,-6,32,34,2,1
55,0,98,0,44,11,42,54,12,4
45,-2,88,-3,46,11,42,41,0,1
41,0,83,0,42,10,42,41,0,1
43,0,86,-4,42,-6,42,44,2,1
55,0,96,0,46,-6,41,50,8,4
44,0,86,1,42,-27,43,45,2,1
56,0,98,-1,42,-17,42,57,14,4
49,-5,82,0,50,10,33,33,0,1
55,0,78,-2,18,0,23,60,38,4
44,5,79,0,44,1,35,35,0,1
47,2,77,0,46,-1,30,31,0,1
45,4,77,0,44,0,31,33,2,1
37,0,79,0,30,9,42,48,6,1
43,-1,85,0,42,-10,42,44,2,1
43,0,76,8,42,0,33,35,2,1
37,0,80,0,30,24,43,49,6,1
38,2,79,0,38,18,42,41,0,1
101,0,102,0,70,-3,1,33,32,5
39,-2,80,-4,38,0,41,41,0,1
43,0,81,1,42,-9,37,39,2,1
49,0,87,0,46,-12,38,41,2,1
80,0,84,0,-36,-29,4,120,116,5
55,0,81,0,-20,25,26,102,76,4
55,0,77,0,12,-22,22,65,42,4
37,0,103,0,18,-16,66,85,20,1
56,2,98,0,52,1,42,46,4,4

Let's verify that this worked by looking at the `head()` function.

In [12]:
# Your code here:

shuttle.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated and that we are not saving the index column.

In [13]:
# Your code here:

shuttle.to_csv("shuttle.csv", sep = ",", index = False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the same folder that contains this notebook. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [15]:
import xlrd
# Your code here:
astronaut = pd.read_excel("astronauts.xls")

Use the `head()` function to inspect the dataframe.

In [16]:
# Your code here:
astronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [19]:
# Your code here:
astronaut["Undergraduate Major"].value_counts()

Physics                                                                35
Aerospace Engineering                                                  33
Mechanical Engineering                                                 30
Aeronautical Engineering                                               28
Electrical Engineering                                                 23
Engineering Science                                                    13
Engineering                                                            12
Mathematics                                                            11
Chemistry                                                              10
Naval Sciences                                                          9
Chemical Engineering                                                    9
Astronautical Engineering                                               8
Aeronautical & Astronautical Engineering                                6
Geology                                                                 5
Mathematics & Physics                                                   5
Biology                                                                 5
Civil Engineering                                                       5
Physics & Astronomy                                                     4
Applied Science & Engineering                                           4
Computer Science                                                        3
Applied Mathematics                                                     3
Engineering Physics                                                     3
Aeronautics & Astronautics                                              3
Ocean Engineering                                                       2
Physics & Mathematics                                                   2
Biological Science                                                      2
Education                                                               2
Engineering Mechanics                                                   2
Zoology                                                                 2
Chemistry & Biology                                                     2
                                                                       ..
Physics & Astronautical Engineering                                     1
Business Finance                                                        1
Business Economics                                                      1
Systems Engineering                                                     1
Astronautics                                                            1
Ecological Science                                                      1
Biology & Psychology                                                    1
Astronomy                                                               1
Mathematics & Economics                                                 1
Physics & Engineering                                                   1
Animal Science                                                          1
Animal Nutrition                                                        1
Applied Biology; Mechanical Engineering                                 1
Solid Earth Sciences                                                    1
Industrial Management                                                   1
Physics & Mechanical Engineering                                        1
Economics                                                               1
Accounting                                                              1
Nuclear Engineering                                                     1
Geosciences                                                             1
Aerospace Engineering & Mechanics                                       1
Human Biology                                                           1
Mathematical & Electrical Science                                       1
Earth Sciences                                                          1
Military Science                                                        1
Aeronautics & Astronautics; Earth, Atmospheric & Planetary Sciences     1
Chemistry; Physiological Optics                                         1
Metallurgical Engineering                                               1
Ceramic Engineering                                                     1
Industrial Engineering                                                  1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a tab separated file using the `to_csv` function. Call the file `astronaut.csv` and remember to remove the index column.

In [20]:
# Your code here:

astronaut.to_csv("astronaut.csv", index = False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [32]:
# Your code here:
col_names = ["season", "age", "disease", "accidents/trauma", "Surgical intervention", "High fever", "alcohol consumption frequency", "smoking", "Hours sitting", "Diagnosis"]
data_set = "https://archive.ics.uci.edu/ml/machine-learning-databases/00244/fertility_Diagnosis.txt"
fertility = pd.read_csv(data_set, names = col_names)
fertility.head()

,season,age,disease,accidents/trauma,Surgical intervention,High fever,alcohol consumption frequency,smoking,Hours sitting,Diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O