# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Accessing our database
Create a connection to access the sakila database with the ip, user and password provided in class. Take a look at the data. Do some joins in order to have more elaborated tables in a dataframe (you can try first the query in the DBMS and then use it in your notebook).

In [32]:
# Libraries
import pandas as pd
from sqlalchemy import create_engine
# Connection Data
driver = 'mysql+pymysql'
ip = '34.65.10.136'
username = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
db = 'publications'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
# Engine & Query
engine = create_engine(connection_string)
query = 'SELECT * FROM authors a left join titleauthor ta on a.au_id = ta.au_id'
# Database Request
authors = pd.read_sql(query,engine)

# Challenge 2 - Working with JSON files

Import the pandas library.

In [2]:
import pandas as pd

In the next cell, load the data in `nasa.json` in the `data` folder and load it into a pandas dataframe. Name the dataframe `nasa`.

In [3]:
json = pd.read_json('nasa.json')

Now that we have loaded the data, let's examine it using the `head()` function.

In [4]:
json.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [6.08333, 50....",1,21.0,Aachen,Valid,L5,50.77500,6.08333,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [10.23333, 56...",2,720.0,Aarhus,Valid,H6,56.18333,10.23333,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-113, 54.216...",6,107000.0,Abee,Valid,EH4,54.21667,-113.00000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",10,1914.0,Acapulco,Valid,Acapulcoite,16.88333,-99.90000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'type': 'Point', 'coordinates': [-64.95, -33....",370,780.0,Achiras,Valid,L6,-33.16667,-64.95000,1902-01-01T00:00:00.000

#### The `value_counts()` function is commonly used in pandas to find the frequency of every value in a column.

In the cell below, use the `value_counts()` function to determine the frequency of all types of asteroid landings by applying the function to the `fall` column.

In [27]:
json['fall'].value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

Finally, let's save the dataframe as a json file again. Save the dataframe using the `orient=records` argument and name the file `nasa-output.json`. Remember to save the file inside the `data` folder.

In [5]:
json.to_json(r'nasa-output.json',orient='records')

# Challenge 2 - Working with CSV and Other Separated Files

CSV files are more commonly used as dataframes. In the cell below, load the file from the URL provided using the `read_csv()` function in pandas. Starting version 0.19 of pandas, you can load a CSV file into a dataframe directly from a URL without having to load the file first and then transform it. The dataset we will be using contains information about NASA shuttles.

In the cell below, we define the column names and the URL of the data. Following this cell, read the tst file to a variable called `shuttle`. Since the file does not contain the column names, you must add them yourself using the column names declared in `cols` using the `names` argument. Additionally, a tst file is space separated, make sure you pass ` sep=' '` to the function.

In [6]:
cols = ['time', 'rad_flow', 'fpv_close', 'fpv_open', 'high', 'bypass', 'bpv_close', 'bpv_open', 'class']
tst_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/shuttle/shuttle.tst'

In [18]:
# your code here
csv = pd.read_csv(tst_url, names=cols,  sep=' ')

Let's verify that this worked by looking at the `head()` function.

In [28]:
# your code here
csv.head()

,time,rad_flow,fpv_close,fpv_open,high,bypass,bpv_close,bpv_open,class
55,0,81,0,-6,11,25,88,64,4
56,0,96,0,52,-4,40,44,4,4
50,-1,89,-7,50,0,39,40,2,1
53,9,79,0,42,-2,25,37,12,4
55,2,82,0,54,-6,26,28,2,1

To make life easier for us, let's turn this dataframe into a comma separated file by saving it using the `to_csv()` function. Save `shuttle` into the file `shuttle.csv` and ensure the file is comma separated, that we are not saving the index column and that the file is saved inside the `data` folder.

In [31]:
# your code here
csv.to_csv(r'..\data\shuttle.csv', header=False)

# Challenge 3 - Working with Excel Files

We can also use pandas to convert excel spreadsheets to dataframes. Let's use the `read_excel()` function. In this case, `astronauts.xls` is in the `data` folder. Read this file into a variable called `astronaut`. 

Note: Make sure to install the `xlrd` library if it is not yet installed.

In [36]:
# your code here
import xlrd
atronaut = pd.read_excel (r'..\data\astronauts.xls')

Use the `head()` function to inspect the dataframe.

In [37]:
# your code here
atronaut.head()

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,1967-05-17,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaT,NaN
1,Loren W. Acton,NaN,NaN,Retired,1936-03-07,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaT,NaN
2,James C. Adamson,1984.0,10.0,Retired,1946-03-03,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaT,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,1951-05-20,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaT,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1930-01-20,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaT,NaN

Use the `value_counts()` function to find the most popular undergraduate major among all astronauts.

In [39]:
# your code here
atronaut['Undergraduate Major'].value_counts()

Physics                                                                35
Aerospace Engineering                                                  33
Mechanical Engineering                                                 30
Aeronautical Engineering                                               28
Electrical Engineering                                                 23
Engineering Science                                                    13
Engineering                                                            12
Mathematics                                                            11
Chemistry                                                              10
Chemical Engineering                                                    9
Naval Sciences                                                          9
Astronautical Engineering                                               8
Aeronautical & Astronautical Engineering                                6
Civil Engineering                                                       5
Geology                                                                 5
Mathematics & Physics                                                   5
Biology                                                                 5
Applied Science & Engineering                                           4
Physics & Astronomy                                                     4
Computer Science                                                        3
Applied Mathematics                                                     3
Aeronautics & Astronautics                                              3
Engineering Physics                                                     3
Biological Science                                                      2
Zoology                                                                 2
Engineering Management                                                  2
Engineering Mechanics                                                   2
Ocean Engineering                                                       2
Physics & Mathematics                                                   2
Chemistry & Biology                                                     2
                                                                       ..
Business Finance                                                        1
Solid Earth Sciences                                                    1
Physiology                                                              1
Ceramic Engineering                                                     1
Biology & Psychology                                                    1
Electrical Science                                                      1
Marine Engineering & Nautical Science                                   1
Economics                                                               1
Psychology                                                              1
Systems Engineering                                                     1
Molecular Biology                                                       1
Physical Science                                                        1
Animal Nutrition                                                        1
Physics & Astronautical Engineering                                     1
Physics & Mechanical Engineering                                        1
Music                                                                   1
Metallurgical Engineering                                               1
Chemistry; Physiological Optics                                         1
Computer & Systems Engineering                                          1
Electrical Engineering; Computer Science                                1
Ecological Science                                                      1
Engineering Sciences; Astronautics & Mathematics                        1
Electronics Engineering                                                 1
Mechanical & Aeronautical Engineering                                   1
Astronautics                                                            1
Biochemistry                                                            1
Aeronautics & Astronautics; Earth, Atmospheric & Planetary Sciences     1
Animal Science                                                          1
Bioscience                                                              1
Space Physics                                                           1
Name: Undergraduate Major, Length: 83, dtype: int64

Due to all the commas present in the cells of this file, let's save it as a tab separated csv file. In the cell below, save `astronaut` as a **tab separated file** using the `to_csv` function. Call the file `astronaut.csv`. Remember to remove the index column and save the file in the `data` folder.

In [42]:
# your code here
#atronaut.to_csv(r'..\data\atronaut.csv', header=False)
atronaut.to_csv(r'..\data\atronaut.csv', sep='\t', index=False)

# Bonus Challenge - Fertility Dataset

Visit the following [URL](https://archive.ics.uci.edu/ml/datasets/Fertility) and retrieve the dataset as well as the column headers. Determine the correct separator and read the file into a variable called `fertility`. Examine the dataframe using the `head()` function. 

Look in Google for a way to retrieve this data!

In [43]:
# your code here
cols2 = ['Season','Age','Childish diseases ','Accident or serious trauma','Surgical intervention','High fevers in the last year','Frequency of alcohol consumption','Smoking habit','Number of hours spent sitting per day ene','Output']
fertility = pd.read_csv(r'https://archive.ics.uci.edu/ml/machine-learning-databases/00244/fertility_Diagnosis.txt', names=cols2,  sep=',')

In [44]:
fertility

,Season,Age,Childish diseases,Accident or serious trauma,Surgical intervention,High fevers in the last year,Frequency of alcohol consumption,Smoking habit,Number of hours spent sitting per day ene,Output
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O
5,-0.33,0.67,1,0,1,0,0.8,0,0.50,N
6,-0.33,0.67,0,0,0,-1,0.8,-1,0.44,N
7,-0.33,1.00,1,1,1,0,0.6,-1,0.38,N
8,1.00,0.64,0,0,1,0,0.8,-1,0.25,N
9,1.00,0.61,1,0,0,0,1.0,-1,0.25,N
10,1.00,0.67,1,1,0,-1,0.8,0,0.31,N
11,1.00,0.78,1,1,1,0,0.6,0,0.13,N
12,1.00,0.75,1,1,1,0,0.8,1,0.25,N
13,1.00,0.81,1,0,0,0,1.0,-1,0.38,N
14,1.00,0.94,1,1,1,0,0.2,-1,0.25,N
15,1.00,0.81,1,1,0,0,1.0,1,0.50,N
16,1.00,0.64,1,0,1,0,1.0,-1,0.38,N
17,1.00,0.69,1,0,1,0,0.8,-1,0.25,O
18,1.00,0.75,1,1,1,0,1.0,1,0.25,N
19,1.00,0.67,1,0,0,0,0.8,1,0.38,O
20,1.00,0.67,0,0,1,0,0.8,-1,0.25,N
21,1.00,0.75,1,0,0,0,0.6,0,0.25,N
22,1.00,0.67,1,1,0,0,0.8,-1,0.25,N
23,1.00,0.69,1,0,1,-1,1.0,-1,0.44,O
24,1.00,0.56,1,0,1,0,1.0,-1,0.63,N
25,1.00,0.67,1,0,0,0,1.0,-1,0.25,N
26,1.00,0.67,1,0,1,0,0.6,-1,0.38,O
27,1.00,0.78,1,1,0,1,0.6,-1,0.38,O
28,1.00,0.58,0,0,1,0,1.0,-1,0.19,N
29,1.00,0.67,0,0,1,0,0.6,0,0.50,O
...,...,...,...,...,...,...,...,...,...,...
70,-0.33,0.50,1,1,0,-1,0.8,0,0.88,O
71,0.33,0.69,1,0,0,1,1.0,-1,0.31,N
72,1.00,0.56,1,0,0,1,0.6,0,0.50,N
73,-1.00,0.50,1,0,0,1,0.8,-1,0.44,N
74,-1.00,0.53,1,0,0,1,0.8,-1,0.63,N
75,-1.00,0.78,1,0,1,1,1.0,1,0.25,N
76,-1.00,0.75,1,0,1,1,0.6,0,0.56,N
77,-1.00,0.72,1,1,1,1,0.8,-1,0.19,N
78,-1.00,0.53,1,1,0,1,0.8,-1,0.38,N
79,-1.00,1.00,1,0,1,1,0.6,0,0.25,N
80,-0.33,0.92,1,1,0,1,1.0,-1,0.63,N
81,-1.00,0.81,1,1,1,1,0.8,0,0.19,N
82,-0.33,0.92,1,0,0,1,0.6,-1,0.19,N
83,-0.33,0.86,1,1,1,1,1.0,-1,0.25,N
84,-0.33,0.78,1,0,0,1,1.0,1,0.06,O
85,-0.33,0.89,1,1,0,0,0.6,1,0.31,N
86,-0.33,0.75,1,1,1,0,0.6,1,0.25,N
87,-0.33,0.75,1,1,1,1,0.8,1,0.25,N
88,-0.33,0.83,1,1,1,0,1.0,-1,0.31,N
89,-0.33,0.81,1,1,1,0,1.0,1,0.38,N
90,-0.33,0.81,1,1,1,1,0.8,-1,0.38,N
91,0.33,0.78,1,0,0,0,1.0,1,0.06,N
92,0.33,0.75,1,1,0,0,0.8,-1,0.38,N
93,0.33,0.75,1,0,1,0,0.8,-1,0.44,O
94,1.00,0.58,1,0,0,0,0.6,1,0.50,N
95,-1.00,0.67,1,0,0,0,1.0,-1,0.50,N
96,-1.00,0.61,1,0,0,0,0.8,0,0.50,N
97,-1.00,0.67,1,1,1,0,1.0,-1,0.31,N
98,-1.00,0.64,1,0,1,0,1.0,0,0.19,N
99,-1.00,0.69,0,1,1,0,0.6,-1,0.19,N